<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareDigi</title>
    <link rel="stylesheet" type="text/css" href="tachyons.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=WindSong&display=swap" rel="stylesheet"> 
</head>

<body class="bg-blue">
    <div class="bg-blue ma0 pa0 header shadow-7 flex ">
        <h1 class="ml4 tl f3 white vd head-main we2c  "><a href="/" class="dcn white">ShareDigi</a></h1>
        <div class="flex mr4 w-20 pa2">
            <button class="w-100 bg-white black bn br2  b vd mr2"><a class="dcn black" href="/share">Share</a>
            </button>
            <button class="w-100 bg-white black bn br2  b vd  "><a class="dcn black" href="/down">Download</a>
            </button>
        </div>
    </div>