

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareDigi</title>
    <link rel="stylesheet" type="text/css" href="tachyons.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=WindSong&display=swap" rel="stylesheet"> 
</head>
<body class="bg-light-gray">
    <div class="bg-blue ma0 pa0 header shadow-7 dib flex ">
        <h1 class="ml4 tc f3 white vd head-main br3 we2c "><a href="/" class="dcn tc white">ShareDigi</a></h1>
        <div class="flex mr4 w-20 pa2">
       
    </div>
    </div>
    <div class="justify-center">
        <h1 class="absolute mt6 ml6 shadow-3  f1  w-30  tc white  bg-black pa3   br-pill ">ShareDigi</h1>
        <h1 class="absolute mt7 ml7 shadow-3 grow-large f4  w-10  tc white  bg-black pa2 br3 ">USE NOW</h1>
        <img src="im1.png" class="db " >
        
    </div>
    <div class="w-100 mb4 flex">
        <button class="w-50 ma4 pa3 bg-blue bn br2  b vd grow"><a class="dcn  white f2" href="/share">Share</a> </button>
        <button class="w-50 ma4 pa3 bg-blue bn br2  b vd grow "><a class="dcn white f2" href="/down">Download</a>  </button>
    </div>
    
    </div>
    
</body>
</html>